<main class="home-main">
    <div class="landing-container">
        <div class="landing-left">
            <div class="code-container">
                <p>O(n^2) - Quadratic time complexity</p>
                <h3 [attr.id]="data.indent === 1 ? 'one' : data.indent === 2 ? 'two' : data.indent === 3 ? 'three' : data.indent === 4 ? 'four' : data.indent === 4 && 'five' "
                    [attr.class]="visible" *ngFor="let data of formattedData">
                    {{data.data}}</h3>
            </div>
        </div>
        <div class="landing-right">
            <h1>REAL WORLD USE-CASES FOR JAVA-SCRIPT ALGORITHMS AND DATA STRUCTURES</h1>
            <h3>By Joseph Walker</h3>
            <div>
                <button title="opens a new tab in the browser">
                    <span id='button-content'>
                        <img src="https://raw.githubusercontent.com/twbs/icons/9a2d13acc39ca084c981f0cd3f80d270af34bd49/icons/arrow-right.svg"
                            alt="link to source code">
                        <h3>Source Code</h3>
                    </span>
                </button>
                <button title="opens a new tab in the browser">
                    <span id='button-content'>
                        <img src="https://raw.githubusercontent.com/twbs/icons/9a2d13acc39ca084c981f0cd3f80d270af34bd49/icons/arrow-right.svg"
                            alt="link to source code">
                        <h3>Documentation</h3>
                    </span>
                </button>
            </div>
        </div>
    </div>
</main>
<app-section [title]="'Single Linked Lists'" [subHeadings]="['Data Structure']"
    [button]="['View Live', 'View Documentation']"
    [description]="'A linked list represents a linear data structure consisting of nodes, Each node holds a value attribute and a next attribute. This next attribute provides linkage and so it gains its name.'">
</app-section>